.canvas{
	border: 1px solid black;
	height: 600px;
	width: 800px;
}

.canvas2{
	border: 1px solid black;
	height: 600px;
	width: 800px;
	left: 900;
}

.draggable {
    height: 300px;
    width: 300px;
    border: 1px solid black;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

